@model projectk.Models.Article

@{
    ViewBag.Title = "Ảnh - " + @Model.Name;
    ViewBag.url = @Request.Url;
    ViewBag.title = @Model.Name;
    ViewBag.image = Request.Url.AbsoluteUri.Replace(Request.Url.AbsolutePath, "") + @Model.ThumbnailURL;
    string prevURL = "";
    string nextURL = "";

    if (ViewBag.Prev != null)
        prevURL = "/image/" + ViewBag.Prev;
    if (ViewBag.Next != null)
        nextURL = "/image/" + ViewBag.Next;
            
                 
 
}
<input type="hidden" id="prevURL" value="@prevURL" />
<input type="hidden" id="nextURL" value="@nextURL" />
<div class="aitem">
    <div class="row-fluid">

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Sử dụng cáo phím <- hay -> trên bàn phím của bạn để xem các bài khác
        </div>
        <div class="visible-phone" style="">
            <div style="line-height: 70px;">
                <h3>@Model.Name </h3>
            </div>



            <div class="title-detail visible-phone" style="">

                <div class="pull-left a-prev a-control">
                    @if (@ViewBag.Prev != -1)
                    {
                        <a title="Bài trước" class="Next-Button" href="/image/@ViewBag.Prev"></a>
                    }
                </div>



                <div class="pull-right a-next a-control">
                    @if (@ViewBag.Next != -1)
                    {
                        <a  class="Next-Button" title="Bài kế tiếp" href="/image/@ViewBag.Next"></a>
                    }
                </div>

            </div>



        </div>
        <div class="title-detail hidden-phone" style="">
            <div class="span2">

                <div class="pull-left a-prev a-control">
                    @if (@ViewBag.Prev != -1)
                    {
                        <a title="Bài trước" class="Next-Button" href="/image/@ViewBag.Prev"></a>
                    }
                </div>
            </div>
            <div class="span8" style="line-height: 70px;">
                <h3 style="color: #ffffff;">@Model.Name </h3>
            </div>
            <div class="span2">
                <div class="pull-right a-next a-control">
                    @if (@ViewBag.Next != -1)
                    {
                        <a  class="Next-Button" title="Bài kế tiếp" href="/image/@ViewBag.Next"></a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="author-info" style="">
            <div class="span6">
                <div style="text-align: center;" class="a-rate">
                    <div style="margin-right: 15px;">
                        <span class="badge badge-success">View: @Model.PageView</span>
                        <span class="badge badge-warning">Comments:
                                <fb:comments-count href="@Request.Url.AbsoluteUri" />
                            </fb:comments-count></span>
                    </div>
                    <div class="fb-like" data-href="@Request.Url" data-send="false" data-layout="button_count"
                       data-width="450" data-show-faces="true">
                    </div>

                </div>
                <div style="clear: both;"></div>
                <div>
                    <span>Nguồn: @Model.Source</span>
                </div>
            </div>
            <div class="span6">
                <div style="float: right; color: #000;">
                    <span>Được chia sẻ bởi </span><span><a href="#">
                        @Model.UserName

                    </a></span>
                    <span class="badge badge-success">Like: @Model.UserProfile.TotalLike </span>

                </div>

            </div>

        </div>
    </div>

    <div class="row-fluid">

        <div class="span12">
            <div class="item-image">
                <a href="/image/@Model.ID">
                    @{
                        if ((Projectk.Variable.UseLocalURL || Projectk.Variable.UseLocalURLFirstPage) && Model.LocalURL != string.Empty && System.IO.File.Exists(Server.MapPath(Model.LocalURL)))
                        {
                        <img class="imagebox lazy img-polaroid" src="/Content/images/loading_anim.gif" data-original="@Model.LocalURL"
                    alt="@Model.Name" />
                        }
                        else
                        {
                        <img class="imagebox lazy img-polaroid" src="/Content/images/loading_anim.gif" data-original="@Model.DropboxShareLink"
                    alt="@Model.Name" />
                        }
                    }


                </a>

            </div>
        </div>
    </div>

</div>
<div class="suggest-older">

    @{
        Html.RenderAction("OlderFunny", "Suggestion", new { ID = @Model.ID });
    }
</div>
<div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="470" data-num-posts="10">
</div>

@section scripts{
    <script type="text/javascript">
        $(document).keypress(function (e) {
            if (e.keyCode == 37) {
                //window.location.href = @prevURL;

                var nvalue = $('#prevURL').val();
                if (nvalue != '') {
                    window.location.href = nvalue;
                }
            }
            if (e.keyCode == 39) {
                //window.location.href = @nextURL;
                //right
                var nvalue = $('#nextURL').val();
                if (nvalue != '') {
                    window.location.href = nvalue;
                }

            }
        });
    </script>
}