@model projectk.Models.Article

@{
    ViewBag.Title = "Details";
}

<div class="aitem">
    <div class="row-fluid">
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Sử dụng cáo phím <- hay -> trên bàn phím của bạn để xem các bài khác
        </div>
        <div class="title-detail" style="">
            <div class="span2">

                <div class="pull-left a-prev a-control">
                    <a title="Bài trước" style="display: block; height: 100%; width: 100%;" href="#">
                    </a>
                </div>
            </div>
            <div class="span8" style="line-height: 70px;">
                <h3 style="color: #ffffff;">@Model.Name </h3>
            </div>
            <div class="span2">
                <div class="pull-right a-next a-control">
                    <a title="Bài kế tiếp" style="display: block; height: 100%; width: 100%;" href="#">
                    </a>

                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">

        <div class="author-info" style="">
            <div class="span6">
                <div style="text-align: center;" class="a-rate">
                    <div style="margin-right: 15px;">
                        <span class="badge badge-success">View: @Model.PageView</span>
                        <span class="badge badge-warning">Comments:
                                <fb:comments-count href="http://facebook.com" />
                            </fb:comments-count></span>
                    </div>
                    <div class="fb-like" data-href="http://conmeno.com" data-send="true" data-layout="button_count"
                        data-width="450" data-show-faces="true">
                    </div>
                </div>
                <div style="clear: both;"></div>
                <div>
                    <span>Nguồn: @Model.Source</span>
                </div>
            </div>
            <div class="span6">
                <div style="float: right; color: #000;">
                    <span>Được chia sẻ bởi </span><span><a href="#">
                    @Model.UserName
                        
                    </a></span>
                    <span class="badge badge-success">Like: @Model.Like </span>

                </div>

            </div>

        </div>
    </div>
    @* <div class="row-fluid">
        <div class="span12">

            <div class="aitem-top">

                <div class="row-fluid">
                    <div class="span8">
                        <div class="aitem-title">
                            <h4>@Model.Name</h4>
                        </div>
                        <div>
                            <span>View: @Model.PageView</span>&nbsp;<span>Comment: @Model.Comment</span>
                        </div>
                        <div>
                            <span>Nguồn: @Model.Source</span>
                        </div>
                    </div>
                    <div class="span4">
                        <div class="aitem-title">
                            <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">
                                @{
                                    string userName = "";
                                    try
                                    {
                                        MembershipUser mu = Membership.GetUser(@Model.UserID);
                                        userName = mu.UserName;
                                    }
                                    catch
                                    {
                                        userName = "khong tim duoc ";
                                    }
                                }
                                @userName
                            </span></a>
                        </div>

                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fb-like" data-href="@Context.Request.Url.ToString()" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true">
                    </div>
                </div>

            </div>
        </div>


    </div>*@
    <div class="row-fluid">

        <div class="span12">
            <div class="item-image">
                <a href="/funny/details/@Model.ID">
                    <img class="imagebox lazy img-polaroid" src="~/Content/images/no.png" data-original="@Model.DropboxShareLink"
                    alt="@Model.Name" />

                </a>

            </div>
        </div>
    </div>

</div>
<div class="suggest-older">

    @{
        Html.RenderAction("OlderFunny", "Suggestion", new { ID = @Model.ID });
    }
</div>
@*<div class="fb-comments" data-href="http://example.com" data-width="470" data-num-posts="10"></div>*@
