@model projectk.Models.Article

@{
    ViewBag.Title = "Details";
}
<div>
</div>
<div class="articles">
    <div class="fb-like" data-href="@Context.Request.Url.ToString()" data-send="true" data-width="450" data-show-faces="true">
    </div>
    <div class="aitem">
        <div class="item-info-left">

            <div class="aitem-top">
                <div class="aitem-title">@Model.Name</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">
                     @{
                         string userName = "";
                         try{
                         MembershipUser mu = Membership.GetUser(Model.UserID);
                          userName = mu.UserName;
                         }catch
                         {
                             userName = "khong tim duoc ";
                         }
                     }
                     @userName
                                                          </span></a>
                </div>
                <div>
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
        </div>
        <div class="item-right">
            <div class="aitem-top">
                <div class="aitem-title">@Model.Name</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">Super
                            rain</span></a>
                </div>
                <div class="pageview>"
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
            <div class="item-image">

                <a class="imagebox" href="@Model.DropboxShareLink" title="@Model.Name"><img class="lazy" src="~/Content/images/no.png" data-original="@Model.DropboxShareLink"
                    alt="@Model.Name" /></a>

            </div>
        </div>
        <div style="clear: both"></div>
    </div>
</div>

<div class=""></div>

<div class="suggest-older">

    @{
        Html.RenderAction("OlderFunny", "Suggestion",new {ID=@Model.ID});
    }
</div>
@*<div class="fb-comments" data-href="http://example.com" data-width="470" data-num-posts="10"></div>*@
