@model IEnumerable<projectk.Models.Article>
@{
    ViewBag.Title = "Home Page";
}

@*<div class="articles">
@foreach (var item in Model) {
    <div class="aitem">
        <div class="item-info-left">

            <div class="aitem-top">
                <div class="aitem-title"> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">Super
                            rain</span></a>
                </div>
                <div>
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
        </div>
        <div class="item-right">
            <div class="aitem-top">
                <div class="aitem-title"> @Html.DisplayFor(modelItem => item.Name)</div>
                <div class="aitem-title">
                    <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">Super
                            rain</span></a>
                </div>
                <div class="pageview">
                    <span>View: 6422</span>&nbsp;<span>Like: 6422</span>
                </div>
            </div>
            <div class="item-image">

                <img class="lazy" src="~/Content/images/no.png" data-original="@Html.DisplayFor(modelItem => item.DropboxShareLink)"
                    alt="@Html.DisplayFor(modelItem => item.Name)" />

            </div>
        </div>
        <div style="clear: both"></div>
    </div> 
}
</div>*@


@foreach (var item in Model)
{
    <div class="aitem">
        <div class="row-fluid">
         
            <div class="span4">

                <div class="aitem-top">
                    <div class="aitem-title">
                        <h4><a href="funny/details/@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
                        </h4>
                    </div>
                    <div class="aitem-title">

                        <span>Post by</span>&nbsp;<a href="#"><span style="font-weight: bold;">
                            @{
    string userName = "";
    try
    {
        MembershipUser mu = Membership.GetUser(item.UserID);
        userName = mu.UserName;
    }
    catch
    {
        userName = "khong tim duoc ";
    }
                            }
                            @userName
                        </span></a>
                    </div>
                    <div>
                        <span>View: @item.PageView</span>&nbsp;<span>Comment: @item.Comment</span>
                    </div>
                    <div class="fb-like" data-href="@Context.Request.Url.ToString()" data-send="false" data-layout="button_count" data-width="50" data-show-faces="true">
                    </div>
                </div>
            </div>
            <div class="span8">
                <div class="item-image">
                    <a href="/funny/details/@item.ID">
                        <img class="lazy img-polaroid"  src="~/Content/images/loading_anim.gif" data-original="@Html.DisplayFor(modelItem => item.DropboxShareLink)"
                    alt="@Html.DisplayFor(modelItem => item.Name)" />

                    </a>

                </div>
            </div>
        </div>

    </div>
    <div class="separate"></div>
}

