@model projectk.Models.Article

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Article</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExternalURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExternalURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DropboxShareLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DropboxShareLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DropboxShareLinkExpire)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DropboxShareLinkExpire)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PageView)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PageView)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LocalURL)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LocalURL)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsHot)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsHot)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OtherObject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OtherObject)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
