@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
    <div class="message-info">
        <p>There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=252166">this article</a>
        for details on setting up this ASP.NET application to support logging in via external services.</p>
    </div>
}
else
{
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
    @Html.AntiForgeryToken()

    <fieldset id="socialLoginList cl">
      @*  <legend>Log in using another service</legend>
        <p>*@

       
        @foreach (AuthenticationClientData p in Model)
        {
             <button style="border:none;background:none;margin:0;padding:0" class="visible-phone" type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your Facebook account"><img src="/images/fb2.png"></button>
            <button class="visible-desktop visible-tablet btn btn-primary" type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">Đăng nhập bằng @p.DisplayName</button>
        }
       @* </p>*@
    </fieldset>
    }
}
